<header class="conteiner-header">
    <nav class="conteiner-menu">
        <ul class="menu">
            <li>
                <a href="/" class="links-menu">
                        Productos
                </a>
            </li>
            <li>
                <a href="/realtimeproducts" class="links-menu">
                        realtimeproducts
                </a>
            </li>
            <li>
                
                <a href="/carrito" class="links-menu">
                        <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </li>
        </ul>
        
    </nav>
    
</header>